@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@font-face {
    font-family: "Virgil";
    src: url("/src/assets/fonts/Virgil.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --Font: "Plus Jakarta Sans", sans-serif;
    --Whiteboard-Font: "Virgil";

    --White: hsl(0, 0%, 100%);
    --Main: hsl(242, 100%, 88%);
    --Dark-White: hsl(242, 20%, 94%);
    --Text-Black: hsl(0, 0%, 0%);
    --Transition: 200ms cubic-bezier(0.3, 0.8, 0.2, 1.3);
}

:root.Black {
    --White: hsl(0, 0%, 20%);
    --Dark-White: hsl(242, 5%, 25%);
    --Text-Black: hsl(0, 0%, 90%);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: var(--Font);
}

*::selection {
    background: hsl(from var(--Main) h s l / 0.4);
}

body {
    background: var(--White);
}

@keyframes Spin-Around {
    100% {
        rotate: 360deg;
    }
}

@media (max-width: 511px) {
    button {
        gap: 0;
    }
    button p {
        display: none;
    }
}
/* @media (max-width: 768px) {
    .Whiteboard-Options {

    }
} */

@media (hover: hover) {
    button:hover {
        scale: 1.05;
        background: hsl(from var(--Dark-White) h s calc(l - 5));
    }

    button:hover .Plus {
        animation: Spin-Around 0.75s var(--Transition);
    }

    .Whiteboard-Area .Whiteboard-Options .Whiteboard-Option:hover {
        background: hsl(242, 50%, 88%, 0.4);
    }
    .Whiteboard-Area .Whiteboard-Options .Whiteboard-Option.Active:hover {
        background: hsl(from var(--Main) h calc(s - 15) calc(l - 2) / 0.2);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
label,
i,
button,
.Dark,
input {
    color: var(--Text-Black);
}

/* h1,
h2,
h3,
h4 {
    color: white;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

a.Link {
    font-weight: 700;
    color: var(--Main);
}

button {
    gap: 0.25rem;
    font-weight: bold;
    border-radius: 2rem;
    display: inline-flex;
    padding: 0.5rem 1rem;
    align-items: center;
    border: none;
    transition: var(--Transition);
    background: var(--Dark-White);
}
button.Primary {
    border: none;
    background: var(--Main);
}
button.Primary p {
    color: currentColor;
}

/* button */

.Whiteboard-Font {
    font-family: var(--Whiteboard-Font);
}

.Top-Bar {
    display: flex;
    padding: 2rem;
    flex-direction: row;
    justify-content: space-between;
}

.All-Whiteboards {
    display: grid;
    margin-left: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.All-Whiteboards .Whiteboard-Item {
    cursor: pointer;
    max-width: 130px;
    margin-bottom: 1rem;
    height: max-content;
    padding: 1.5rem 2rem;
    background: var(--Dark-White);
    border-radius: 1.5rem;
}
.All-Whiteboards .Whiteboard-Item img {
    width: 100%;
    height: 5rem;
    margin-bottom: 0.5rem;
    background: var(--Dark-White);
    border-radius: 1.5rem;
}

.Spin {
    animation: Spin-Around 1s ease-in-out infinite;
}

.Whiteboard-Area {
    display: flex;
    height: 100vh;
    height: 100dvh;
    background: none;
}
.Whiteboard-Area .Whiteboard-Top {
    gap: 1rem;
    display: flex;
    margin: 2rem;
    z-index: 99999;
    width: max-content;
    height: max-content;
    align-items: center;
    padding: 1.25rem 2rem;
    justify-content: center;
    background: var(--Dark-White);
    border-radius: 1.5rem;
    /* box-shadow: 0 4px 20px hsla(0, 0%, 50%, 15%); */
}

.Whiteboard-Area .Whiteboard-Top .Whiteboard-Name {
    border: none;
    width: 15rem;
    background: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--Text-Black);
}

.Whiteboard-Area .Whiteboard-Options {
    left: 0;
    display: flex;
    position: fixed;
    width: max-content;
    align-items: center;
    padding: 0.5rem 1rem;
    bottom: 0;
    margin: 40px;
    justify-content: center;
    background: var(--Dark-White);
    border-radius: 1.25rem;
    /* box-shadow: 0 4px 20px hsla(0, 0%, 50%, 15%); */
}
.Whiteboard-Area .Whiteboard-Options .Whiteboard-Option {
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.75rem;
    margin-right: 1rem;
    border-radius: 0.75rem;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    transition: var(--Transition);
}
.Whiteboard-Area .Whiteboard-Options .Whiteboard-Option:active {
    scale: 0.8;
}
.Whiteboard-Area .Whiteboard-Options .Whiteboard-Option:last-child {
    margin-right: 0;
}
.Whiteboard-Area .Whiteboard-Options .Whiteboard-Option.Active {
    background: hsl(from var(--Main) h s l / 0.25);
}
.Whiteboard-Area .Whiteboard-Options .Whiteboard-Option.Active .Dark {
    color: hsl(from var(--Main) h s calc(l - 10));
}

.Whiteboard-Area .Whiteboard {
    width: 200%;
    height: 200dvh;
    position: fixed;
    background: var(--White);
    z-index: 0;
}

.Stickie {
    cursor: grab;
    padding: 2rem;
    max-width: 10rem;
    width: 100%;
    height: max-content;
    min-height: 10rem;
    display: inline-block;
    background: var(--Dark-White);
    font-family: var(--Whiteboard-Font);
}
.Stickie .Text {
    cursor: text;
    width: 80%;
    border: none;
    resize: none;
    height: auto;
    overflow: hidden;
    background: none;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: currentColor;
    font-family: var(--Whiteboard-Font);
}

.Text-Block {
    font-weight: bold;
    padding: 5px 10px;
    width: max-content;
    background: none;
    text-align: center;
    position: relative;
    display: inline-block;
    font-family: var(--Whiteboard-Font);
    border: 2px solid transparent;
}
.Text-Block.selected {
    border-color: var(--Main);
}
.Resize-Handle {
    width: 8px;
    height: 8px;
    border-radius: 999px;

    background: var(--White);
    border: 2px solid var(--Main);

    position: absolute;
}
.Resize-Handle:hover {
    transform: scale(1.15);
}

.Resize-Handle.bottom-right {
    right: -4px;
    bottom: -4px;

    cursor: nwse-resize;
}

.Resize-Handle.bottom-left {
    left: -4px;
    bottom: -4px;

    cursor: nesw-resize;
}

.Resize-Handle.top-right {
    right: -4px;
    top: -4px;

    cursor: nesw-resize;
}

.Resize-Handle.top-left {
    left: -4px;
    top: -4px;

    cursor: nwse-resize;
}

.Selection {
    resize: both;
    min-width: 1rem;
    min-height: 1rem;
    overflow: hidden;
    border: 1px dashed var(--Main);
    background: hsl(from var(--Main) h s l / 0.15);
}

.Shape {
    width: 5rem;
    height: 5rem;
    margin: 10px;
}
.Shape.Circle {
    border-radius: 50%;
}
.Shape.Triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.Shape.Star {
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
}
.Whiteboard-Zoom {
    right: 0;
    bottom: 0;
    gap: 0.75rem;
    margin: 40px;
    padding: 0.75rem 1rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: var(--Dark-White);
    border-radius: 1.5rem;
    /* box-shadow: 0 4px 20px hsla(0, 0%, 50%, 15%); */
}
.Whiteboard-Zoom .Line {
    color: hsl(from var(--Dark-White) h s calc(l - 20));
}
.Whiteboard-Zoom input {
    border: none;
    /* width: 3rem; */
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
    background: var(--White);
}

.Whiteboard-Properties {
    left: 0;
    margin: 2rem;
    padding: 2rem 2rem;
    position: fixed;
    top: 20%;
    /* box-shadow: 0 4px 20px hsla(0, 0%, 50%, 15%); */
    background: var(--Dark-White);
    border-radius: 1.5rem;
}
.Whiteboard-Properties .Property {
    display: flex;
    padding: 0.5rem 1rem;
    flex-direction: column;
}

.Whiteboard-Properties .Property .Options {
    gap: 0.5rem;
    display: flex;
    margin: 0.5rem 0.5rem 0.5rem 0;
    overflow-x: auto;
    flex-direction: row;
    scroll-snap-type: mandatory;
}
.Whiteboard-Properties .Property .Options .Option {
    min-width: 1rem;
    cursor: pointer;
    padding: 0.75rem;
    min-height: 1rem;
    align-items: center;
    display: inline-flex;
    border-radius: 0.75rem;
    justify-content: center;
    background: var(--White);
    color: var(--Text-Black);
}
/* .Whiteboard-Properties .Property .Options .Option */
.Whiteboard-Properties .Property .Options .Option.selected {
    color: white;
    background: hsl(from var(--Dark-White) h calc(s - 10) calc(l - 30));
}
.Whiteboard-Properties .Property .Options .Option.Extend {
    padding: 0.75rem 1rem;
    min-width: max-content;
}
.Whiteboard-Properties .Property .Options .Option.No-Border {
    border: none;
}

@media (max-width: 956px) {
    .Whiteboard-Options .Whiteboard-Option {
        padding: 0.5rem;
        margin-right: 0.5rem;
    }
}
