@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
    --Font: "Outfit", sans-serif;
    --Whiteboard-Font: "Caveat";

    --White: hsl(20, 100%, 98%);
    --Dark-Colour: hsl(20, 100%, 20%);
    --Foreground: hsl(20, 100%, 97%);
    --Main: hsl(336, 100%, 60%);
    --Light-Main: hsl(from var(--Main) h s calc(l + 15));
    --Outline-Thickness: 3px;
    --Outline: var(--Outline-Thickness) solid var(--Dark-Colour);
    --Transition: 200ms cubic-bezier(0.3, 0.8, 0.2, 1.3);
    --Special-Radius: 1rem 0 1rem 0;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: var(--Font);
}

body {
    background: var(--White);
}

@keyframes Spin-Around {
    100% {
        rotate: 360deg;
    }
}

@media (max-width: 511px) {
    button {
        gap: 0;
    }
    button p {
        display: none;
    }
}
@media (hover: hover) {
    button:hover {
        scale: 1.05;
        background: hsl(from var(--Light-Main) h s calc(l - 5));
    }

    button:hover .Plus {
        animation: Spin-Around 0.75s var(--Transition);
    }

    .Whiteboard-Area .Whiteboard-Options .Whiteboard-Option:hover {
        background: hsl(from var(--White) h calc(s - 20) calc(l - 5) / 0.4);
    }
    .Whiteboard-Area .Whiteboard-Options .Whiteboard-Option.Active:hover {
        background: hsl(from var(--Main) h calc(s - 15) calc(l - 2) / 0.2);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
label,
i,
button {
    color: var(--Dark-Colour);
}

a.Link {
    font-weight: 700;
    color: var(--Main);
}

button {
    gap: 0.25rem;
    font-weight: bold;
    border-radius: 2rem;
    display: inline-flex;
    padding: 0.5rem 1rem;
    align-items: center;
    border: var(--Outline);
    transition: var(--Transition);
    background: var(--Foreground);
}
button.Primary {
    background: var(--Light-Main);
}

/* button */

.Whiteboard-Font {
    font-family: var(--Whiteboard-Font);
}
.Dark {
    color: var(--Dark-Colour);
}

.Top-Bar {
    display: flex;
    padding: 2rem;
    flex-direction: row;
    justify-content: space-between;
}

.All-Whiteboards {
    display: grid;
    margin-left: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.All-Whiteboards .Whiteboard-Item {
    cursor: pointer;
    max-width: 130px;
    margin-bottom: 1rem;
    height: max-content;
    padding: 1.5rem 2rem;
    border: var(--Outline);
    background: var(--Foreground);
    border-radius: var(--Special-Radius);
}
.All-Whiteboards .Whiteboard-Item img {
    width: 100%;
    height: 5rem;
    margin-bottom: 0.5rem;
    border: var(--Outline);
    background: var(--Foreground);
    border-radius: var(--Special-Radius);
}

.Spin {
    animation: Spin-Around 1s ease-in-out infinite;
}

.Whiteboard-Area {
    display: flex;
    height: 100vh;
    height: 100dvh;
    background: none;
}
.Whiteboard-Area .Whiteboard-Top {
    gap: 1rem;
    display: flex;
    margin: 2rem;
    z-index: 99999;
    width: max-content;
    height: max-content;
    align-items: center;
    padding: 1.5rem 2rem;
    border: var(--Outline);
    justify-content: center;
    background: var(--White);
    border-radius: var(--Special-Radius);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 20%);
}

.Whiteboard-Area .Whiteboard-Top .Whiteboard-Name {
    border: none;
    width: 15rem;
    background: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--Dark-Colour);
}

.Whiteboard-Area .Whiteboard-Options {
    left: 50%;
    display: flex;
    position: fixed;
    translate: -50% 0;
    width: max-content;
    align-items: center;
    padding: 1rem 4rem;
    border: var(--Outline);
    bottom: 0;
    margin: 2rem;
    justify-content: center;
    background: var(--White);
    border-radius: 1.75rem 0 1.75rem 0;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 20%);
}
.Whiteboard-Area .Whiteboard-Options .Whiteboard-Option {
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.75rem;
    margin-right: 2rem;
    border-radius: 50%;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    transition: var(--Transition);
}
.Whiteboard-Area .Whiteboard-Options .Whiteboard-Option:active {
    scale: 0.8;
}
.Whiteboard-Area .Whiteboard-Options .Whiteboard-Option:nth-child(4) {
    margin-right: 0;
}
.Whiteboard-Area .Whiteboard-Options .Whiteboard-Option.Active {
    background: hsl(from var(--Main) h s l / 0.15);
}
.Whiteboard-Area .Whiteboard-Options .Whiteboard-Option.Active .Dark {
    color: var(--Main);
}

.Whiteboard-Area .Whiteboard {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    position: fixed;
    background: white;
    z-index: 0;
}

.Sticky-Note {
    cursor: grab;
    padding: 2rem;
    max-width: 10rem;
    font-weight: bold;
    width: 100%;
    height: max-content;
    min-height: 10rem;
    display: inline-block;
    border-radius: 0 0 1rem;
    corner-shape: round round bevel;
    font-family: var(--Whiteboard-Font);
    background: hsl(from red h s calc(l + 10) / 0.4);
}
.Sticky-Note .Text {
    cursor: text;
    width: 80%;
    border: none;
    resize: none;
    height: auto;
    overflow: hidden;
    background: none;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: currentColor;
}

.Text-Block {
    font-weight: bold;
    padding: 5px 10px;
    /* width: max-content; */
    font-family: var(--Whiteboard-Font);
    border: var(--Outline-Thickness) dashed var(--Main);
}

.Selection {
    resize: both;
    min-width: 1rem;
    min-height: 1rem;
    overflow: hidden;
    border: 1px dashed var(--Main);
    background: hsl(from var(--Main) h s l / 0.15);
}

.Shape {
    width: 5rem;
    height: 5rem;
    margin: 10px;
    background: var(--Light-Main);
}
.Shape.Circle {
    border-radius: 50%;
}
.Shape.Triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.Shape.Star {
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}
